/* BV : Changing Bootstrap styles */
.bg-light {
    background-color: coral!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.jumbotron {
    background-color: rgb(88, 208, 196);
}
.card-img, .card-img-top{
    width: 45%;
    align-self: center;
}